body{
    box-sizing: border-box;
}
hr{
    width: 80%;
}
h1, h2, h5{

    color: #ff002b;
}
h1, h2{
text-align: center;
}
a{
    font-size: 16px;
}
p{
    font-size: 15px;
    color: #F3FAFE;
}
.contact-items{
    display: flex;
    margin: 30px auto;
    flex-wrap: wrap;
    align-items: center;
    padding-bottom: 100px;
}
.contact-items h1, h2, h5{
    color: #ff002b;
}
.customer-care,.write-us,.sales-market,.PXL-logo,.VIIO-logo,.DELA-logo{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 45%;
    margin: 30px auto;
    padding: 35px 15px;
    border-radius: 15px;
    text-align: center;
    min-width: 250px;
    background-color: transparent;
}
.customer-care{
    height: 250px;
}
.write-us{
    height: 250px;
}
.sales-market{
    height: 250px;
}

.PXL-logo img,.VIIO-logo img,.DELA-logo img{
    width: 80%;
    box-shadow: 15px 15px 15px black;
}

hr.divider {
    width: 150px;
    color: white;
    border-radius: 2px;
    border-color: white;
}

