/*====================Deze pagina word gebruikt door zowel Home.html als Hobbies.html======================================*/

* {
margin: 0;
padding: 0;
box-sizing: border-box;
}

body {
background-size: cover;
background-repeat: no-repeat;
background-position: bottom;
background-attachment: fixed;
color: #000;
font-size: 120%;
line-height: 1.618;
}

h1 {
color: #F39200;
font-size: 50px;
font-family: Mr Alex, sans-serif;
}

h1, h2 {
font-size: 3em;
letter-spacing: -0.05em;
line-height: 1.1;
}

p {
max-width: 30em;
margin-bottom: 1.618em;
}

i {
cursor: pointer;
}

/* panel styles */
.panel {
/* min height incase content is higher than window height */
min-height: 100vh;
display: flex;
justify-content: space-around;
align-items: center;
/* turn above on to see the edge of panels */
}

.IntroductieFoto, .PassieFoto, .InteresseFoto, .LezenFoto, .TekenenFoto, .CoderenFoto, .GrafischFoto {
    box-shadow: 0 15px 15px black;
}

.IntroductieFoto {
    border-radius: 50%;
}

.PassieFoto, .TekenenFoto, .CoderenFoto, .GrafischFoto {
    width: 40%;
}

.InteresseFoto, .LezenFoto {
    border-radius: 30%;
}

.SterrenTekst h2, .SterrenTekst p{
color: #F39200;
}

.resume_skills ul li{
    display: flex;
    margin-bottom: 10px;
    justify-content: space-between;
    align-items: center;
}

.resume_skills ul li .skill_name {
    width: 25%;
}

.resume_skills ul li .skill_progress {
    width: 60%;
    margin: 0 5px;
    height: 15px;
    background: #fff;
    position: relative;
}

.resume_skills ul li .skill_per {
    width: 15%;
}

.resume_skills ul li .skill_progress span {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    background: #96FA77;
}