/*Deze pagina word gebruikt door zowel Home.html als Hobbies.html*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: bottom;
    background-attachment: fixed;
    font-size: 120%;
    line-height: 1.618;
}

h1 {
    color: #ff002b;
    font-size: 50px;
}

h1, h2 {
    color: #ff002b;
    font-size: 3em;
    letter-spacing: -0.05em;
    line-height: 1.1;
}

p {
max-width: 30em;
margin-bottom: 1.618em;
}

i {
cursor: pointer;
}

/* panel stijlen */
.panel {
    min-height: 50vh; /* minimum hoogte voor als de content hoger is dan de hoogte van het venster */
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 60px;
}

#Introductie {
    margin-top: 120px;
}

#Interesse {
    margin-bottom: 120px;
}

/* skills wrapper stijl */
.block {
    width: 55%;
    min-width: 600px;
    padding: 0 0 100px;
    border-radius: 10px;
}

.Tekstje, .Spreuk {
    padding: 20px 0 0 20px;
}

.block h2 {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #F3FAFE;
}

.details {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}

.bar {
    position: relative;
    border-radius: 20px;
    background: #3C3C3B;
}

.bar div {
    position: relative;
    width: 0;
    height: 9px;
    border-radius: 10px;
    background-color: #ff002b;
}

.skills:not(:last-child) {
    margin-bottom: 30px;
}


#html-bar{
    animation: html-fill 2s forwards;
}
@keyframes html-fill {
    100% {
        width: 60%;
    }
}

#css-bar{
    animation: css-fill 2s forwards;
}
@keyframes css-fill{
    100%{
        width: 55%;
    }
}

#javascript-bar{
    animation: js-fill 2s forwards;
}
@keyframes js-fill {
    100%{
        width: 30%;
    }
}

#illustrator-bar {
    animation: ill-fill 2s forwards;
}
@keyframes ill-fill {
    100%{
        width: 85%;
    }
}

#photoshop-bar {
    animation: pho-fill 2s forwards;
}
@keyframes pho-fill {
    100%{
        width: 80%;
    }
}

#xd-bar {
    animation: xd-fill 2s forwards;
}
@keyframes xd-fill {
    100%{
        width: 80%;
    }
}

/* Grote blok voor individuele foto's te stijlen */
.IntroductieFoto, .PassieFoto, .InteresseFoto, .LezenFoto, .TekenenFoto, .CoderenFoto, .GrafischFoto {
    box-shadow: -15px 15px 15px 0px black;
}

.IntroductieFoto, .InteresseFoto {
    border-radius: 50%;
    overflow: hidden;
    width: 500px;
    height: 500px;
}

.Over {
    position: relative;
}

.IntroductieFoto img, .InteresseFoto img {
    transition: transform 1s ease;
}

.IntroductieFoto:hover img, .InteresseFoto:hover img {
    transform: scale(1.2);
}

.VideoEditingFoto, .TekenenFoto, .CoderenFoto, .PhotoshopFoto {
    width: 40%;
}

/* Hier start de stijl van de vaardigheid balkjes op de Home pagina */
.resume_skills h1 {
    color: white;
}
.resume_skills ul li{
    display: flex;
    margin-bottom: 10px;
    justify-content: space-between;
    align-items: center;
}

.resume_skills ul li .skill_name {
    width: 25%;
}

.resume_skills ul li .skill_progress {
    width: 60%;
    margin: 0 5px;
    height: 15px;
    background: #3C3C3B;
    position: relative;
}

.resume_skills ul li .skill_per {
    width: 15%;
}

.resume_skills ul li .skill_progress span {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    background: #ff002b;
}
/* Hier eindigt de stijl van de vaardigheid balkjes op de Home pagina */


/* Grote blok voor responsiveness */

@media only screen and (max-width: 900px) {
    .body {
        position: relative;
    }
    .panel {
        min-height: 20vh; /* minimum hoogte voor als de content hoger is dan de hoogte van het venster */
        display: block;
        font-size: 18px;
    }

    .IntroductieFoto, .InteresseFoto {
        scale: 0.90;
    }

    .Over {
        position: relative;
        padding-bottom: 10px;
        margin-left: 23%;
    }

    .block {
        margin-left: 15%;
        width: 65%;
        min-width: 400px;
    }
    .Tekstje {
        padding: 0 0 0 200px;
    }
    .Spreuk {
        padding: 0 0 0 80px;
    }
    .Spreuk h1{
        font-size: 30px;
    }
    #Introductie {
        margin-top: 80px;
    }

    #Interesse {
        margin-bottom: 80px;
    }
}

@media only screen and (max-width: 800px) {
    .panel {
        font-size: 80%;
    }
    .Over {
        margin-left: 18%;
    }
    .Tekstje {
        padding: 0 0 0 150px;
    }
    .Spreuk {
        padding: 0 0 0 50px;
    }
}

@media only screen and (max-width: 700px) {
    .Over {
        margin-left: 13%;
    }
    .Tekstje {
        padding: 0 0 0 120px;
    }
}

@media only screen and (max-width: 600px) {
    .Over {
        margin-left: 5%;
    }
    .IntroductieFoto, .InteresseFoto {
        scale: 0.80;
    }
    .Tekstje {
        padding: 0 0 0 80px;
    }
    .Spreuk {
        padding: 0 0 0 30px;
    }
}

@media only screen and (max-width: 550px) {
    .Over {
        margin-left: 0;
    }
    .Tekstje {
        padding: 0 0 0 50px;
    }
    .Spreuk {
        padding: 0 0 0 15px;
    }
}

@media only screen and (max-width: 550px) {
    .block {
        margin-left: 9%;
    }
    .Tekstje {
        padding: 0 0 0 30px;
    }
}
