* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    text-decoration: none;
    scroll-behavior: smooth;    /*gives the go-to-top button a smooth scrolling effect*/
    font-family: "Fira Code Retina", sans-serif;
}

body {
    transition: background-color 1s ease;
    background-color: #1D1D1B;
    color: #F3FAFE;
}

a {
    text-decoration: none;
}

/*=========================================Einde van Universele sectie=====================================================*/
/*===========================================Begin van Header sectie=======================================================*/

.wrapper{
    padding-top: 1.5rem;
    padding-bottom: 1rem;
    margin-bottom: 3rem;
    width: 100%;
    background-color: #070D0D;
    z-index: 3;
    position: relative;
}
.wrapper nav{
    position: relative;
    display: flex;
    max-width: calc(100% - 200px);
    margin: 0 auto;
    height: 70px;
    align-items: center;
    justify-content: space-between;
}
nav .content{
    display: flex;
    align-items: center;
    white-space: nowrap;
}
nav .content .links{
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    display: flex;
}
nav i {
    width: 3rem;
    color: #F3FAFE;
    font-size: 20pt;
}
nav i:hover {
    color: #ff002b;
}

#logo {
    width: 6.5rem;
    height: 6.5rem;
    border-radius: 90px;
    scale: 122%;
}

#logo:hover {
    content: url("Icons/SpinningArrowsLogoEnergetic.gif");
    display: inline-block;
    border-radius: 90px;
    scale: 122%;
}

.content .links li{
    list-style: none;
    line-height: 70px;
}
.content .links li a,
.content .links li label{
    color: #F3FAFE;
    font-size: 20px;
    font-weight: 300;
    padding: 9px 50px;
    border-radius: 5px;
    transition: all 0.3s ease;
}
.content .links li label{
    display: none;
}
.content .links li a:hover,
.content .links li label:hover{
    color: #ff002b;
}

.active, #active {
    color: #ff002b !important;
}

.wrapper .menu-icon{

    font-size: 18px;
    cursor: pointer;
    line-height: 70px;
    width: 70px;
    text-align: center;
}
.wrapper .menu-icon{
    display: none;
}

.wrapper input[type="checkbox"]{
    display: none;
}

.content .links ul{
    position: absolute;
    top: 80px;
    z-index: -1;
    opacity: 0;
    visibility: hidden;
}
.content .links li:hover > ul{
    top: 70px;
    opacity: 1;
    visibility: visible;
    transition: all 0.3s ease;
    background-color: #070D0D;
}
.content .links ul li a{
    display: block;
    width: 100%;
    line-height: 30px;
    border-radius: 0px!important;
}
.content .links ul ul{
    position: absolute;
    top: 0;
    right: calc(-100% + 8px);
}
.content .links ul li{
    position: relative;
}
.content .links ul li:hover ul{
    top: 0;
}


@media screen and (max-width: 1250px){
    .wrapper nav{
        max-width: 100%;
        padding: 0 20px;
        justify-content: space-between;
    }
    .content .links li a{
        padding: 8px 40px;
    }
}
@media screen and (max-width: 900px){
    .wrapper nav {
        justify-content: space-between;
    }
    .wrapper .menu-icon{
        display: block;
    }
    .wrapper #show-menu:checked ~ .menu-icon i::before{
        content: "\f00d";
    }
    nav .content .links{
        display: block;
        position: fixed;
        height: 100%;
        width: 100%;
        top: 70px;
        left: -150%;
        margin-left: 0;
        max-width: 350px;
        overflow-y: auto;
        padding-bottom: 100px;
        transition: all 0.3s ease;
        background-color: #070D0D;
        transform: translate(+0%, +1%);
    }
    nav #show-menu:checked ~ .content .links{
        left: 0%;
    }
    .content .links li{
        margin: 15px 20px;
    }
    .content .links li a,
    .content .links li label{
        line-height: 40px;
        font-size: 20px;
        display: block;
        padding: 8px 18px;
        cursor: pointer;
    }
    .content .links li a.desktop-link{
        display: none;
    }

    .content .links ul,
    .content .links ul ul{
        position: static;
        opacity: 1;
        visibility: visible;
        background: none;
        max-height: 0px;
        overflow: hidden;
    }
    .content .links #show-Home:checked ~ ul,
    .content .links #show-Hobbies:checked ~ ul,
    .content .links #show-Ervaring:checked ~ ul,
    .content .links #show-WPL:checked ~ ul,
    .content .links #show-Contact:checked ~ ul{
        max-height: 100vh;
    }
    .content .links ul li{
        margin: 7px 20px;
    }
    .content .links ul li a{
        font-size: 18px;
        line-height: 30px;
        border-radius: 5px!important;
    }
}
@media screen and (max-width: 400px){
    .wrapper nav{
        padding: 0 10px;
    }
    .content .logo a{
        font-size: 27px;
    }
}

/*===========================================Einde van Header sectie=======================================================*/
/*=======================================Begin van Nav Bar stijl sectie====================================================*/

.navbar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: transparent;
    color: #F3FAFE;
    padding: 25px 60px;
    margin-bottom: 30px;
}

/*========================================Einde van Nav Bar stijl sectie=====================================================*/
/*===========================================Begin van Footer sectie=========================================================*/

.Footer {
    width: 100%;
    position: relative;
    height: auto;
    background-color: #070D0D;
    justify-content: center;
    align-content: center;
    align-items: center;
    box-shadow: 0 0 30px 0 #ff002b;
}

.Footer .Column {
    width: 213px;
    height: auto;
    float: left;
    cursor: pointer;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    padding: 0 20px 20px 20px;
    line-height: 1.1;
}

.Footer .Column h5 {
    margin: 0;
    font-size: 16px;
    line-height: 17px;
    padding: 20px 0 5px 0;
    text-transform: uppercase;
    letter-spacing: 0.100em;
    color: #ff002b;
}

.Footer .Column a {
    text-decoration: none;
    color: white;
    font-size: 16px;
}

.Footer .Column ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
.Footer .Column ul li {
    font-size: 14px;
    font-weight: bold;
    padding: 5px 0px 5px 0px;
    transition: .2s;
    -webkit-transition: .2s;
    -moz-transition: .2s;
}
.Contacten ul li {
    display: inline-block;
    padding-right: 5px !important;
}

.Footer .Column a:hover {
    color: #ff002b;
    transition: .2s;
    -webkit-transition: .1s;
    -moz-transition: .1s;
}
.Clearfix {
    clear: both;
}

.FooterLogo {
    justify-content: center;
    align-items: center;
    padding-top: 21px;
    visibility: visible;
    border-radius: 90px;
}

#footer_logo {
    width: 130px;
}

#footer_logo:hover {
    content: url("Icons/SpinningArrowsLogoSlow.gif");
    display: inline-block;
    scale: 130%;
}

.SocialIcon {
    width: 45px;
    transition: transform 0.5s ease;
}

.SocialIcon:hover {
    transform: scale(1.25);
}

@media only screen and (min-width: 1280px) {
    .Container {
        width: 1200px;
        margin: 0 auto;
    }
    #FooterLogo {
        display: block;
    }
}
@media only screen and (max-width: 1139px) {
    .Container .Contacten {
        width: 300px;
        display: block;
    }
    .Contacten h1 {
        margin: 0;
    }
    #FooterLogo {
        display: none;
    }
}
@media only screen and (max-width: 950px) {
    .Footer .Column {
        width: 25%;
    }
    .Footer .Col h1 {
        font-size: 14px;
    }
    .Footer .Col ul li {
        font-size: 13px;
    }
    #FooterLogo {
        display: none;
    }

}
@media only screen and (max-width: 500px) {
    .Footer .Column {
        width: 50%;
    }
    .Footer .Column h1 {
        font-size: 14px;
    }
    .Footer .Col ul li {
        font-size: 13px;
    }
}
@media only screen and (max-width: 340px) {
    .Footer .Column {
        width: 100%;
    }
}

/*===========================================Einde van Footer sectie=========================================================*/
/*=====================================Begin van "Back-to-top" knop stijl====================================================*/

#Terug-Naar-Boven-Knop, #Terug-Naar-Boven-Knop-2 {
    position: fixed;
    bottom: 0;
    right: 25px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
#Terug-Naar-Boven-Knop {
    padding: 0.5rem 2rem;
}
#Terug-Naar-Boven-Knop-2 {
    padding: 2rem 0.5rem;
}

.ArrowUpIcon {
    width: 70px;
}
.ArrowUpIcon2 {
    width: 60px;
}
.ArrowUpIcon:hover, .ArrowUpIcon2:hover {
    content: url("Icons/IcoonArrowUpActive.png");
}

@media screen and (max-width: 900px) {
    #Terug-Naar-Boven-Knop {
        display: none;
    }
    header ul li {
        display: none;
    }
    #hero {
        background-image: none;
    }
}

@media screen and (min-width: 900px) {
    #Terug-Naar-Boven-Knop-2 {
        display: none;
    }
}

@media screen and (min-width: 900px) {
    #Terug-Naar-Boven-Knop-2 {
        display: none;
    }
}