body{
    background-color: #F3FAFE;
    display: flex;
    flex-direction: column;
    align-items: center;
}

p, h1, h2, h3, h4{
    font-family: Roboto, serif;
}

h1 {
    padding-bottom: 20px;
}

.Website-section {
    background-color: #F3FAFE;
    width: 100%;
    height: 1000px;
}

.Website-section h1 {
    color: #1D1D1B;
}

.Titel_div {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    margin: 2.5%;
    text-align: Left;
    font-size: 35px;
}

.Titel_div img {
    width: 80%;
    padding-left: 250px;
}

.Products-front-page {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}

.Individueel-product-vakje {
    background: #F8B960;
    box-shadow: 0 0 20px black;
    padding: 2%;
    margin: 1%;
    border-radius: 25px;
    flex-direction: row;
    justify-content: center;
    text-align: center;
}

.Individueel-product-vakje p {
    padding: 0 45px;
}

.Individueel-product-vakje img {
    width: 25%;
}

.Bekijk-Ons-Aanbod-Knop-Div {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-bottom: 100px;
}

.Knop-Bekijk {
    margin: 1.5%;
    background-color: #1D1D1B;
    color: White;
    border-width: 0px;
    border-radius: 35px;
    padding: 15px;
    width: 100%;
    height: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}







#Eindreflectie-1 {
    display: none;
}

#Eindreflectie-1, #Eindreflectie-2 {
    padding-bottom: 50px;
}

#Eindreflectie-1 h1, #Eindreflectie-2 h1 {
    padding-top: 40px;
    padding-bottom: 40px;
}

#Eindreflectie-1 h3, #Eindreflectie-2 h3 {
    padding-top: 40px;
    padding-bottom: 10px;
}

.Bronnen {
    padding-bottom: 100px;
}

.back_to_top_button{
    margin: 1%;
    background-color: #B6A8FF;
    border-width: 0px;
    border-radius: 35px;
    padding: 20px;
    width: 15%;
    height: 60px;
    color: white;

}

hr.divider {
    border-radius: 2px;
    border-color: #B6A8FF;
    width: 80%;
}

button {
    background-color: #f89a16;
}

/* The switch - the box around the slider */
.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}

/* Hide default HTML checkbox */
.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.button {
    width: 80%;
    height: 40px;
    border-radius: 15rem;
    font-size: 20px;
    position: relative;
    cursor: pointer;
    overflow: hidden;
    z-index: 1;
    border: none;
    background-color: #B6A8FF;
}
.button::before {
    content: '';
    width: 0;
    height: 40px;
    border-radius: 15rem;
    position: absolute;
    top: 0;
    left: 0;
    background-image: linear-gradient(to
    right, brown 0%, orange 50%, yellow 100%);
    transition: .3s ease;
    display: block;
    z-index: -1;
}
.button:hover::before {
    width: 100%;
}
