body{
    background-color: #1D1D1B;
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1 {
    padding-bottom: 20px;
    color: #ff002b;
}

/*===========================================Einde van Pagina stijl========================================================*/
/*=========================================Begin van Projecten sectie======================================================*/

.ProjectenTitels{
    padding-top: 40px;
}

.Projecten{
    background-color: transparent;
    border-radius: 30px;
    width: 700px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.UitklapMenu{
    width: 600px;
    color: #F3FAFE;
}

.UitklapMenu a{
    color: #ff002b;
}

.UitklapMenu li{
    list-style: none;
    width: 100%;
    margin: 20px;
    border-radius: 8px;
    background: #3C3C3B;
    box-shadow: 6px 6px 10px -1px #ff002b;
}

.UitklapMenu li label{
    display: flex;
    align-items: center;
    padding: 10px;
    font-size: 18px;
    font-weight: 500;
    cursor: pointer;
    background-color: #070D0D;
}

.UitklapMenu label::before{
    content: '+';
    margin-right: 10px;
    font-size: 24px;
    font-weight: 600;
}

input[type="checkbox"]{
    display: none;
}

.UitklapMenu .content{
    color: #F3FAFE;
    padding: 0 10px;
    line-height: 26px;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.5s, padding 0.5s;
}

.UitklapMenu input[type="checkbox"]:checked + label + .content{
    max-height: 400px;
    padding: 10px 10px 20px;
}

.UitklapMenu input[type="checkbox"]:checked + label::before{
    content: '-';
}

.ApplicatieIcoon{
    height: 100px;
    width: 100px;
}

/*=========================================Einde van Projecten sectie======================================================*/
/*=======================================Begin van Pasta Fresca sectie=====================================================*/

.PastaFresca-section {
    background-color: transparent;
    width: 100%;
    height: 900px;
}

.PastaFresca-section h1 {
    color: #1D1D1B;
}

.Titel_div {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    margin: 2.5%;
    text-align: Left;
    font-size: 35px;
}

.Titel_div h1 {
    color: #ff002b;
    padding-left: 250px;
}

.Titel_div img {
    width: 80%;
    padding-left: 250px;
}

#IntroPastaFresca{
    padding-left: 19%;
    color: #F3FAFE;
}

.TakenPastaFresca {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}

.IndividueelTaakVakje {
    background: transparent;
    color: #ff002b;
    border: 6px solid #ff002b;
    padding: 2%;
    margin: 1%;
    border-radius: 25px;
    flex-direction: row;
    justify-content: center;
    text-align: center;
}

.IndividueelTaakVakje p {
    padding: 0 45px;
    color: #F3FAFE;
}

.IndividueelTaakVakje img {
    width: 25%;
}

.Knop-Bekijk-Div {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-bottom: 100px;
}

.Knop-Bekijk {
    margin: 1.5%;
    background-color: #070D0D;
    color: #F3FAFE;
    border-width: 0px;
    border-radius: 35px;
    padding: 15px;
    width: 100%;
    height: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.Knop-Bekijk:hover {
    box-shadow: 0px 0px 15px 0px #ff002b;
}

/*=======================================Einde van Pasta Fresca sectie=====================================================*/
/*======================================Begin van Eindreflectie sectie=====================================================*/
.EindreflectiesDiv {
    padding-top: 70px;
    color: white;
}

#Eindreflectie-1 {
    display: none;
}

#Eindreflectie-1, #Eindreflectie-2, #IntroPastaFresca {
    padding-bottom: 50px;
}

#Eindreflectie-1 h1, #Eindreflectie-2 h1 {
    padding-top: 30px;
    padding-bottom: 25px;
}

#Eindreflectie-1 h3, #Eindreflectie-2 h3 {
    padding-top: 40px;
    padding-bottom: 10px;
}

.Bronnen {
    padding-bottom: 100px;
    color: white;
}



hr.divider {
    border-radius: 2px;
    border-color: #ff002b;
    width: 80%;
}

button {
    background-color: #F39200;
}

/* De switch - de doos rond de slider */
.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}

/* verstop de standaard HTML checkbox */
.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.button {
    width: 100%;
    height: 40px;
    border-radius: 15rem;
    font-size: 20px;
    position: relative;
    cursor: pointer;
    overflow: hidden;
    z-index: 1;
    border: none;
    background-color: #070D0D;
    color: #F3FAFE;
    box-shadow: 0px 0px 15px 0px #ff002b;
}
.button::before {
    content: '';
    width: 0;
    height: 40px;
    border-radius: 15rem;
    position: absolute;
    top: 0;
    left: 0;
    background-image: linear-gradient(to
    right, #ff002b 0%, #F39200 50%, yellow 100%);
    transition: .3s ease;
    display: block;
    z-index: -1;
}
.button:hover::before {
    width: 100%;
}